* {
  box-sizing: border-box;
}

body {
  direction: rtl;
  background: #E1E4EF;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}

.welcome {
}

.welcome p {
  color: #505862;
  text-align: center;
  padding: 0 15px;
}

.welcome p.disclaimer {
  margin-bottom: 30px;
}

.ui.input>input {
  text-align: right;
}

.your-name-tag {
  margin-bottom: 20px;
}

.your-name-tag h1 {
  font-size: 32px;
  margin: 0;
  height: 45px;
}

.your-name-tag h2 {
  font-size: 16px;
  margin: 0;
}

.avatars {
  margin: 10px 0;
  text-align: center;
}

.avatar {
  display: inline-block;
}

.avatar img {
  border-radius: 50%;
  transition: all .2s;
  border: 2px solid white;
  width: 64px;
  height: 64px;
  filter: grayscale(1);
}

.avatar img:hover, .avatar img.selected {
  box-shadow: 3px 17px 22px -13px #7D85A8;
  filter: none;
}

.avatar {
  margin: 10px;
  cursor: pointer;
}